include includes/head
body 
    each user in data
        tr
            td= user.name.first
            td= user.name.last 
            td= user.nat 
            br
        


    include includes/foot